package layouts

templ Navbar(user_type string) {
	if user_type == "analyst" {
		@Analyst_Nav() {
			{ children... }
		}
	} else if user_type == "manager" {
		@Manager_Nav() {
			{ children... }
		}
	} else {
		@Admin_Nav() {
			{ children... }
		}
	}
}
