package team

import "github.com/VladanT3/IT_Ticketing_Platform/models"

templ SelectTeam(analyst_id string) {
	<option value="none">Select...</option>
	for _, team := range models.GetAllTeams() {
		if team.Team_ID.String() == analyst_id {
			<option selected value={ team.Team_ID.String() }>{ team.Team_Name }</option>
		} else {
			<option value={ team.Team_ID.String() }>{ team.Team_Name }</option>
		}
	}
}
